# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pdb

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode ayarları
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Model ve büyük veri dosyaları (örnek)
amazon_data/*.csv
results/
final_model/
sentiment_model_distilbert/
sentiment_model/
