body {
    font-family: Arial;
    background-color: #f0f0f0;
    padding: 30px;  /*Sayfanın kenarlarında 30px iç boşluk*/
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: auto;  /*Ortalanmasını sağlar (sağ-sol otomatik boşluk bırakır)*/
}
textarea {
    width: 100%;
    height: 100px;
}
button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;  /* Yazı rengi beyaz*/
    border: none;
    border-radius: 4px;
}
.result {
    margin-top: 20px;
    padding: 10px;
    background: #d1e7dd;
    border: 1px solid #badbcc;
    border-radius: 4px;
}
.star {
    font-size: 24px;
    color: #ccc;
}
.star.filled {
    color: #FFD700; /* Altın sarısı */
}
.label {
    margin-left: 8px;
    font-weight: bold;
}
